OPENAI_API_KEY=your-openai-api-key
ANTHROPIC_API_KEY=your-anthropic-api-key
OPENAI_BASE_URL=https://api.openai.com/v1

# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=true

# LogLevel: Set to debug to enable verbose logging, set to result to get results only
# Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info 